@import "_variables";

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

nav {
  border-bottom: 1px solid #d3d3d3;
  div {
    div {
      ul {
        li {
          a {
            font-size: 1rem !important;
            font-weight: 700 !important;
            transition: 0.2s ease-in-out !important;
            &:hover {
              color: $main-color-one !important;
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
}

.bg-color-one {
  background-color: $main-color-one;
}

.bg-color-two {
  background-color: $main-color-two;
}

.bg-alpha-one {
  background-color: $alpha-color-one;
}

.bg-alpha-two {
  background-color: $alpha-color-two;
}

.bg-content {
  background-color: #eeeeee;
}

.hero {
  width: 100%;
  height: 50vh;
  background: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $main-color-two;
    font-size: 4rem;
  }
  .row {
    background-color: rgba(0, 0, 0, 0.2);
    height: 50vh;
    width: 100%;
  }
}

#contact-section {
  div {
    div {
      iframe {
        min-width: 100%;
        min-height: 350px;
        margin-top: 1rem;
      }
    }
  }
}

#h5-redes {
  background-color: $main-color-two;
  width: 100%;
}

.div-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  a {
    text-decoration: none;
    padding: 1.5rem;
    padding-top: 0;
    svg {
      width: 70px;
      height: 70px;
      color: $main-color-one;
      transition: 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
        color: #000000;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #products-cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    background-color: $alpha-color-two;
  }
}

@media (min-width: 992px) {
  nav {
    div {
      div {
        ul {
          width: 100% !important;
          display: flex !important;
          justify-content: flex-end !important;
          li {
            padding-left: 2rem !important;
          }
        }
      }
    }
  }

  nav {
    div {
      a {
        transition: 0.2s ease-in;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  #products-carousel {
    max-width: 100%;
    height: 60vh;
    overflow: hidden;
    button {
      display: none;
    }
  }

  #products-cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    background-color: $alpha-color-two;
  }
}
